.panier_head {
	text-align: center;
	justify-content: center;
	display: flex;
	background-image: url('../../assets/images/panier-top.png');	
	height: 450px;
}
.mask_white_big {
	background: white;
	opacity: 0.8;
	margin: 70px;
	padding: 70px;
}
.myBorder {
	border: solid black 1px;
	width: 100%;
}
.myText {
	padding: 29px;
}
.section_1 {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
}
span {
	font-weight: bold;
}
.section_2 {
	text-align: center;
	justify-content: center;
	display: flex;
	background-color: #d8eaec;
	margin-bottom: 3%;
}
.title_section2 {
	font-size: 32px;
	margin-bottom: 0;
	padding-top: 3%;
	padding-bottom: 2%;

}
.img_page2_section2 {
	height: 85%;
}
.monuments {
	display: flex;
	justify-content: space-around;
	min-height: 250px;
	margin-bottom: 10% !important;
}
.maison {
	width: 100%;
	background-image: url("../../assets/images/maison-diamantee.jpg");
	background-size: 146%;
    background-position: 76% 19%;
	
}

.preau {
	width: 100%;
	background-image: url("../../assets/images/accoules.jpg");	
	background-size: 182%;
	background-position: 55% 0%;
	margin-top: 5px;
		
}

.pavillon {
	width: 100%;
	background-image: url("../../assets/images/daviel.jpg");
	background-size: 149%;
    background-position: 90% 98%;
    margin-top: 5px;

}
.mask_white_little{
	background: white;
	opacity: 0.5;	
	justify-content: center;
	align-items: center;
	margin :10%;
	height:75%;
}
.section_3 {
	text-align: center;
	justify-content: center;
	display: flex;
	background-color: #d8eaec;
	margin-bottom: 3%;
}
.col_img_section3{
	height:390px;
}
.img_page2_section3 {
	height: 100%;
}

/*------ISSAM----*/

.right_text {
	text-align: right;
	padding-right: 40px;
	font-weight: 600;
}

.nom {
	font-weight: 900;

}




/*----Version Mobile-------*/

@media screen and (max-width: 767px) {

	.navbar-brand h1 {
        font-size: 1.4rem !important;
	}
	.h3, h3 {
    font-size: 1.20rem !important;
	}
	.panier_head {
		text-align: center;
		justify-content: center;
		display: flex;
		background-image: url('../../assets/images/panier-top.png');
		height: 260px;
	}
	.mask_white_big {
		
    	background: white;
    	opacity: 0.5;
    	margin: 30px;
    	padding: 5%;
    	display: flex;
    	justify-content: center;
    	/* align-items: center; */
	}
	.myBorder {
        border: none;
	}
	.title_section2 {
    font-size: 20px;
    margin-bottom: 0;
    padding-top: 3%;
    padding-bottom: 2%;
	}
	.col_img_section3 {
    height: 170px;
	}
	.pavillon {
    width: 100%;
    background-image: url(../../assets/images/daviel.jpg);
    background-size: 44%;
    background-position: 90% 98%;
}
.preau {
    width: 100%;
    background-image: url(../../assets/images/accoules.jpg);
    background-size: 76%;
    background-position: 55% 0%;
}

}